/*
   Code by Cand 142 (entire stylesheet except where explicitly marked by othr candidates)
*/

html {
    /* Force html to span height of page: */
    height: 100%;
    min-height: 100%;
    margin: 0px;
}
body {
    /* Force body to span height of page: */
    height: 100%;
    min-height: 100%;
    margin: 0px;
}

/* Headline styles modified by candidate 150: */

h1 {
    line-height: 1em;
    font-size: 6em;
    color: #000;
    font-family: 'Eczar', serif;
    padding-bottom: 0.5em;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0.6em;
}
#dipTitle {
    padding-top: 0.5em;
}
.centerSection h1 {
    font-family: 'Arvo', serif;
    text-align: center;
}
.smallHeadline {
    font-size: 3.5em;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: block;
}
.smallHeadline p {
    font-family: 'Dancing Script', cursive;
    display: block;
}

/* Link Styling by cand 150 */

a {
    outline: 0;
    text-decoration: none;
}
a:link {
    color: #FFFFFF;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #FFFFFF;
}
a:active {
    color: #FF8000;
}
a.emailLink, .aboutLink:link {
    color: #000000;
}
a.emailLink, .aboutLink:hover {
    color: #A9A9A9;
    text-decoration: underline;
}
a.emailLink, .aboutLink:visited {
    color: #2F4F4F;
}
a.emailLin, .aboutLink:active {
    color: #808080;
}

/* Class used by elements that will be hidden if javascript is disabled: */

.noJs {
    display: none;
}

/* Style navigation:

General bar class (used by both top and bottom bar): 

General (for both navbars (top and bottom): */

.bar {
    width: 100%;
    font-size: 1.2em;
    font-family: 'Arvo', serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    position: fixed;
    background: rgba(00, 000, 000, 0.5);
}
nav ul {
    list-style-type: none;
    /*Removing bullet points*/
}
nav ul .active {
    font-weight: bold;
    text-decoration: underline;
}
nav ul li {
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
nav ul li:hover {
    text-decoration: underline;
    font-weight: bold;
}
nav ul li a {
    color: #fff;
}

/* For top navbar: */

#topBar {
    display: block;
    top: 0px;
    left: 0px;
    z-index: 10000;
}
#mainNav {
    float: left;
    padding-top: 0.5em;
}

/* Social media section: */

#socialMedia {
    float: right;
    padding-right: 1em;
}

/* For bottom navbar: */

#bottomBar {
    background: rgba(00, 000, 000, 0.7);
    bottom: 0px;
    left: 0px;
    display: none;
    /* Hidden by default in desktop mode*/
}
#bottomBar nav ul {
    list-style-type: none;
    display: table;
    width: 100%;
}
#bottomBar nav ul li {
    display: table-cell;
    text-decoration: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#homeIcon {
    float: left;
    margin: 0.2em;
}

/* Back to top button: */

.toTop {
    max-width: 80px;
    max-height: 80px;
}
.shadedBackground {}
.toTop:hover {
    cursor: pointer;
}
.toTop img {
    max-height: 100%;
    max-width: 100%;
}
#toTopDesktop {
    bottom: 50px;
    right: 50px;
    position: fixed;
    display: none;
    opacity: 0.85;
}
#toTopDesktop img {
    display: block;
}

/* Use FlexBox to create a two-column grid: */

.fullSection {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* Set left container to width of 53% of view width: */

.leftContent {
    display: flex;
    width: 53vw;
    word-wrap: break-word;
    overflow: hidden;
}

/* Set right container to width of 47% of view width: */

.rightContent {
    display: flex;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.6);
    padding-left: 1.5em;
    width: 47vw;
    max-width: 100%;
}
.rightContent .topText {
    text-align: left;
}
.rightContent .subSection {
    font-size: 2em;
}

/* Style individual parts of front page one-pager: */


/* Style top part of front page one-pager: */

#intro {
    /* Shutterstock stock photo used here: 
Source: https://www.shutterstock.com/pic-249980701.html */
    background: url("../../assets/images/front.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro .topText h1 {
    padding-top: 1.2em;
}
#recipes {
    /* Shutterstock stock photo used here: 
Source: https://www.shutterstock.com/pic-285412121.html */
    background: url("../../assets/images/front2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#recipes .rightContent, #recipe .rightContent {
    background: rgba(000, 000, 000, 0.47);
}
#recipes, #recipe .rightContent .topText * {
    color: #fff;
}

/* Make adjustments for whyHomeMade and about pages: */


/* Add background image to both whyHomeMade and about page html elements: */

#whyHomeMade, #about {
    /* Shutterstock stock photo used here: 
Source: https://www.shutterstock.com/pic-249980701.html */
    background: url("../../assets/images/front4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Add padding and background color to both whyHomeMade and about page fullSection elements: */

#whyHomeMade .fullSection, #about .fullSection {
    background: rgba(255, 255, 255, 0.6);
    padding-bottom: 5em;
}

/* Style individual recipe page: */

#recipe {
    /* Shutterstock stock photo used here: 
Source: https://www.shutterstock.com/pic-292126115.html */
    background: url("../../assets/images/front3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.recipeImgBox {
    padding: 1em;
    display: block;
}
.recipeImgBox img {
    max-width: 95%;
    max-height: 240px;
    border-radius: 100%;
    margin: 0px;
    display: inline;
}
.recipeImgBox p {
    display: inline;
    font-family: 'Dancing Script', cursive;
    font-size: 3.7em;
}
.recipeImg:hover {
    opacity: 1;
}
.socialIcon {
    max-height: 40px;
    max-width: 40px;
}
.topText {
    word-wrap: break-word;
    width: 100%;
    padding-top: 5em;
    font-family: 'Arvo', serif;
}

/* Style lists used in recipes: */

.benefitsList {
    color: #D0FA58;
}
.dipList {
    font-size: 1.2em;
}
.substanceList, .mediumText {
    font-size: 1.4em;
}
#topRecipesLink {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}
#topRecipesLink:hover {
    cursor: pointer;
}
#topImage {
    padding-top: 3em;
}
.centerSection {
    padding-top: 3em;
    margin: auto;
    margin-top: 0px;
    width: 47vw;
}

/* Style content images: */

.dipHeaderImage {
    max-width: 18%;
    padding-right: 0.25em;
    display: block;
    float: left;
    padding-top: 0.3em;
}
.chipsImage {
    max-width: 95%;
    max-height: 250px;
    padding: 1em;
}

/* Mobile view: */

@media (max-width: 790px) {
    .centerSection {
        width: 90vw;
    }
    .topText {
        /* Remove padding from right text area (since top-bar will be gone in mobile): */
        padding: 0px;
    }
    .leftContent {
        /* Hide left column: */
        display: none;
    }
    .rightContent {
        /* Set right side to width of 100 view width: */
        width: 100vw;
    }
    .rightContent h1 {
        line-height: 0.8em;
        font-size: 5em;
    }
    #bottomBar {
        /* Show bottom bar: */
        display: block;
    }
    #topBar {
        /* Hide top bar: */
        display: none;
    }
    #recipeSelection {
        /* Center recipes in recipe selection area (front-page): */
        text-align: center;
    }
    #toTopDesktop img {
        /* Hide to-top local navigation: */
        display: none;
        padding: 0px;
    }
    .recipeImgBox p {
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .topText {
        /* Add padding to bottom of text to avoid bottom
bar overlapping with content: */
        padding-bottom: 6em;
    }
    .smallHeadline p {
        display: block;
        padding: 0px;
        margin: 0px;
    }
    .dipHeaderImage {
        /* Hide dip header images (too large): */
        display: none;
    }
    #recipe .rightContent {
        /* Increase opacity of background color on right side on recipes: */
        background: rgba(000, 000, 000, 0.6);
    }
    /* By cand 150 - Reduce headline size on mobile view to avoid scrolling sideways*/
    h1.homeMadeHeader {
        font-size: 4.2em;
    }
}